<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head') %>

  <body class="flex h-screen flex-col text-gray-800">
    <%- include('../partials/header') %>

    <main class="mx-auto mt-52 w-11/12 max-w-6xl flex-1">
      <h1 class="mb-6 text-3xl font-bold text-green-500">
        Tudo sobre a Cãopanheiro
      </h1>

      <div class="flex justify-between">
        <div class="max-w-2xl">
          <p class="mb-8">
            Bem-vindo ao Cãopanheiro, uma página dedicada à adoção de cachorros.
            Nós acreditamos que todos os cães merecem um lar amoroso e
            responsável, e estamos aqui para ajudar a promover a adoção
            consciente e facilitar o processo de adoção.
          </p>

          <p class="mb-8">
            Em nossa página, você encontrará diversos cachorros disponíveis para
            adoção, cada um com sua própria história e personalidade única.
            Todos os cães que divulgamos foram resgatados das ruas ou de
            situações de abandono e estão prontos para encontrar um novo lar
            onde possam ser amados e cuidados.
          </p>

          <p class="mb-8">
            Além de ajudar a encontrar um novo companheiro de quatro patas, o
            Cãopanheiro também oferece informações e dicas úteis sobre cuidados
            com animais de estimação, como alimentação, saúde, higiene e
            bem-estar.
          </p>

          <p class="mb-8">
            Nós estamos comprometidos com a causa da adoção responsável e
            trabalhamos em parceria com ONGs e protetores de animais para
            garantir que todos os cachorros em nosso site sejam tratados com
            carinho e respeito. Nosso objetivo é promover a adoção de cachorros
            e contribuir para um mundo melhor para os animais.
          </p>

          <p class="mb-8">
            Não perca a oportunidade de encontrar o seu novo melhor amigo aqui
            no Cãopanheiro. Adote um cachorro e descubra o amor incondicional
            que só um cão pode oferecer!
          </p>
        </div>
        <div>
          <img src="/assets/image-2.svg" alt="Imagem de um cachorro" />
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
