<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main>
      <img src="/assets/image4.jpg" alt="Imagem de uma cachorrinha" />

      <div></div>

      <div>
        <h1>Preencha dados do Cãozinho para adoção</h1>
        <form action="/salvo" method="post">
          <label for="name">Nome</label>
          <input type="text" name="name" placeholder="Nome do cãozinho" />
          <label for="age">Idade</label>
          <input type="text" name="age" placeholder="1 ano e dois meses" />
          <label for="photo">Foto</label>
          <input type="url" name="photo" placeholder="https://" />
          <label for="photo">Telefone</label>
          <input type="tel" name="phone" placeholder="(ddd)988888888" />
          <button type="submit">Enviar</button>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
