<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../partials/head") %>
  <body>
    <h1>Cãozinho Cadastrado</h1>
    <i></i>

    <script>
      setTimeout(() => {
        window.location = "/"
      }, 2000)
    </script>
  </body>
</html>
