<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../partials/head") %>
  <body class="grid h-screen place-content-center bg-blue-800">
    <div class="flex flex-col items-center gap-2">
      <h1 class="text-5xl font-bold text-blue-200">Cãozinho Cadastrado</h1>
      <i class="ph ph-paw-print text-5xl text-blue-200"></i>
    </div>

    <script>
      setTimeout(() => {
        window.location = "/"
      }, 2000)
    </script>
  </body>
</html>
