<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../partials/head") %>
  <body
    class="flex h-screen flex-col items-center justify-center gap-1 bg-green-500"
  >
    <h1 class="text-center text-5xl font-bold">Cãozinho Cadastrado</h1>
    <i class="ph ph-dog text-3xl font-bold"></i>

    <script>
      setTimeout(() => {
        window.location = "/"
      }, 2000)
    </script>
  </body>
</html>
