<footer class="mt-40 bg-blue-500 py-16">
  <div class="mx-auto flex w-11/12 max-w-6xl items-center justify-between">
    <div class="flex flex-col gap-5">
      <a href="/" class="flex items-center">
        <i class="ph ph-paw-print text-3xl text-gray-200"></i>
        <h2 class="text-3xl text-gray-200">
          Cão<span class="font-bold">Panheiro</span>
        </h2>
      </a>
      <p class="text-gray-200">feito by Bruno Gonçalves Ferreira</p>
      <p class="text-gray-200">Todos os direitos reservados.</p>
    </div>

    <div class="flex gap-5">
      <a
        href=""
        title="Instagram"
        class="text-2xl text-gray-200 transition-all hover:scale-125"
      >
        <i class="ph ph-instagram-logo"></i>
      </a>
      <a
        href=""
        title="Facebook"
        class="text-2xl text-gray-200 transition-all hover:scale-125"
      >
        <i class="ph ph-facebook-logo"></i>
      </a>
      <a
        href=""
        title="Youtube"
        class="text-2xl text-gray-200 transition-all hover:scale-125"
      >
        <i class="ph ph-youtube-logo"></i>
      </a>
    </div>
  </div>
</footer>
