<header class="fixed left-0 top-0 z-50 w-full bg-green-500 py-8">
  <div class="mx-auto flex w-11/12 max-w-6xl items-center justify-between">
    <a href="/" class="flex items-center gap-1 text-white">
      <i class="ph ph-paw-print text-3xl"></i>
      <span>Cãopanheiro</span>
    </a>

    <div class="ml-28">
      <i class="ph ph-bone text-2xl text-white"></i>
    </div>

    <nav>
      <ul class="flex gap-5">
        <li>
          <a
            class="after:content[''] relative text-white after:absolute after:left-0 after:top-0 after:mt-5 after:h-1 after:w-0 after:rounded-md after:bg-white after:transition-all hover:after:w-full"
            href="/"
            >Home</a
          >
        </li>
        <li>
          <a
            class="after:content[''] relative text-white after:absolute after:left-0 after:top-0 after:mt-5 after:h-1 after:w-0 after:rounded-md after:bg-white after:transition-all hover:after:w-full"
            href="/sobre"
            >Sobre</a
          >
        </li>
        <li>
          <a
            class="after:content[''] relative text-white after:absolute after:left-0 after:top-0 after:mt-5 after:h-1 after:w-0 after:rounded-md after:bg-white after:transition-all hover:after:w-full"
            href="/doacao"
            >Doação</a
          >
        </li>
        <li>
          <a
            class="after:content[''] relative text-white after:absolute after:left-0 after:top-0 after:mt-5 after:h-1 after:w-0 after:rounded-md after:bg-white after:transition-all hover:after:w-full"
            href="/adotar"
            >Adotar</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
